* {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
  }

.content {
    background-color: deepskyblue;
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: auto 30% auto;
    grid-template-rows: 87% auto;
}

.box {
    width: 100%;        
    border: 10px solid rgb(240, 247, 253);
    display: block;
    background: #fff;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    place-self: center;

}    

.image {
    width: 100%;        
    height: 100%;
}


.text {
    background-color: deepskyblue;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    max-height: 100%;
}

.left {
    background-color: deepskyblue;
    place-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
}

.right {
    background-color: deepskyblue;
    place-self: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
}

.arrow {
    background-color: deepskyblue;
    display: block;
    margin: 0 auto;
}